name: ci-build-develop

on:
  push:
    branches:
      - develop

jobs:

  build-develop:

    if: |
      !contains(github.event.head_commit.message, '/skip/build/')

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        token: ${{ secrets.TOKEN_ACTION }}

    - name: Setup GIT
      run: |
        git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
        git config user.name "$GITHUB_ACTOR"

    - name: Get version number
      run: |
        export APP_VERSION=$(node app-version.js)
        echo $APP_VERSION

    # - name: Test
    #   run: |
    #     npm test

    # - name: Login to Amazon ECR
    #   id: login-ecr
    #   uses: aws-actions/amazon-ecr-login@v1
    #   env:
    #     AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
    #     AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    #     AWS_REGION: eu-west-1

    - name: Build Docker Image
      env:
        IMAGE_TAG: latest
      #   ECR_REGISTRY: xyz.amazonaws.com
      #   ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY }}
      run: |
        docker build \
        -t betorobson:$IMAGE_TAG \
        .

    # - name: Logout of Amazon ECR
    #   if: always()
    #   run: docker logout ${{ steps.login-ecr.outputs.registry }}
